img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 20px);
  width: auto;
  max-height: calc(100vh - 50px);
  height: auto;
  filter: drop-shadow(var(--image-shadow-color) 0px 0px 30px);
  padding-top: 3rem;
  border-radius: 0px;
  padding-bottom: 0rem;
  background-color: #fff;
  padding: 10px;
}
.cover-image {
  padding: 0px;
}
#rss-img {
  filter: none;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
blockquote {
  color: var(--color);
  text-align: center;
}
:root[data-theme="light"] {
  --img-brightness: 100%;
  --background-color: #fff;
  --color: #111;
  --heading-color: #111;
  --link-color: #3273dc;
  --link-visited-color: #193c75;
  --image-shadow-color: #888;
  --theme-slider-initial-transform: 0px;
  --light-theme-indicator-color: #ffcf00;
  --dark-theme-indicator-color: var(--color);
}
:root[data-theme="dark"] {
  --img-brightness: 100%;
  --background-color: #000;
  --color: #eee;
  --heading-color: #eee;
  --link-color: #de9906;
  --link-visited-color: #966807;
  --image-shadow-color: #000;
  --theme-slider-initial-transform: translateX(20px);
  --light-theme-indicator-color: var(--color);
  --dark-theme-indicator-color: #ffcf00;
}
