---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="about me"
	pubDate={new Date('June 14 2023')}
	updatedDate={new Date('June 14 2023')}
	heroImage="/placeholder-about.jpg"
>
	<p>
        I'm an university student studying computer science. I'm interested in web development, machine learning, and computer network.
	</p>
</Layout>
