---
import { slide } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Skyline from "../components/Skyline.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <Skyline />
      <div transition:animate={slide({ duration: "0.4s" })}>
        <h2 class="text-2xl font-sans">About Me</h2>
        <p>
          I'm an university student studying computer science. I'm interested in
          web development, machine learning, and computer network.
        </p>
        <p>
          Looking forward to collab or just chat, find me at GitHub, Instagram,
          or Email me at 3drxkjy@gmail.com.
        </p>
      </div>
    </main>
  </body>
</html>
