---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Skyline from "../components/Skyline.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <Skyline/>
      <h2>About Me</h2>
      <p>
        I'm an university student studying computer science. I'm interested in
        web development, machine learning, and computer network.
      </p>
      <p>
        Looking forward to collab or just chat, find me at GitHub, Instagram, or
        Email me at kjy20030228@icloud.com.
      </p>
    </main>
    <Footer />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;700&display=swap");
      h2 {
        margin: 0.5em 0;
        font-family: "M PLUS Rounded 1c", Verdana, sans-serif;
      }
    </style>
  </body>
</html>
