---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello!</h1>
			<p>
                I'm 3DRX, a random dude on the internet.
			</p>
            <p>
                I'm a programmer, and I like to make things.
            </p>
            <p>
                <a href="/about">About me</a>
            </p>
			<p>
                This blog is powered by <a href="https://astro.build/" target="_blank">Astro.js</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
