---
const { prev, next } = Astro.props;
---

<hr class="mt-1 mb-3" />
<div class="flex">
  <div class="flex-1 text-left">
    {
      prev === null ? (
        <a />
      ) : (
        <a class="left" href={`/blog/${prev.slug}`}>
          {prev.title}
        </a>
      )
    }
  </div>
  <div class="flex-1 text-center">
    <a href="/blog">cd ..</a>
  </div>
  <div class="flex-1 text-right">
    {
      next === null ? (
        <a />
      ) : (
        <a class="right" href={`/blog/${next.slug}`}>
          {next.title}
        </a>
      )
    }
  </div>
</div>
