---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import ThemeIcon from './ThemeIcon.astro';
---

<div class="header-container">
    <header>
        <h1>
            {SITE_TITLE}
        </h1>
        <nav>
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
            <HeaderLink href="https://www.youtube.com/channel/UC0b6UcWbLfDpmV6XB4_amJQ" target="_blank">YouTube</HeaderLink>
            <HeaderLink href="https://github.com/3DRX/" target="_blank">GitHub</HeaderLink>
        </nav>
    </header>
    <ThemeIcon id="light"/>
</div>
<style>
	header {
		margin: 0em 0 2em;
	}
	h1 {
		margin: 0.5em 0;
	}
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
