---
---
<div id="skyline">
  <canvas class="webgl"></canvas>
  <script src="/src/components/Skyline.js"></script>
</div>
<style>
  .webgl {
    width: 80%;
    padding: 0;
    margin: auto;
    margin-bottom: -3em;
    margin-top: -2em;
    display: block;
  }
  #skyline {
    max-width: 65ch;
  }
</style>
